---
const { page } = Astro.props
const prevUrl = page.url.prev ? `/yano0.blog${page.url.prev}` : null;
const nextUrl = page.url.next ? `/yano0.blog${page.url.next}` : null;
---

<section class="flex space-x-8 justify-center text-xl pt-16 font-bold">
  {prevUrl &&
  <a
    href={prevUrl}
    class="mr-8"
    data-test="paginator-prev">
    <span class="squiggle">&larr;</span> Prev
  </a>
  }

  {nextUrl &&
  <a
    href={nextUrl}
    data-test="paginator-next">
    Next<span class="squiggle">&rarr;</span>
  </a>
  }
</section>
